<app-error></app-error>
<form *ngIf="!isLoading" (submit)="onLogin(userLoginForm)" #userLoginForm="ngForm">
  <label>
    <span class="error-msg" *ngIf="usernameInput.invalid">Username is invalid</span>
    <input placeholder="Username" type="text" name="username" #usernameInput="ngModel" ngModel minlength="6"/>
  </label>
  <label>
    <span class="error-msg" *ngIf="passwordInput.invalid">Password is invalid</span>
    <input placeholder="Password" type="password" name="password" #passwordInput="ngModel" ngModel minlength="6"/>
  </label>
  <button name="login" type="submit">Login</button>
</form>
<div *ngIf="isLoading" class="loader">Loading...</div>
