form {
  margin: auto;
  width: 35vw;
}

form > label > input {
  display: block;
  margin: auto;
  width: 30vw;
  margin-bottom: 1rem;
}

input {
  padding: 0.5rem;
}

span.error-msg {
  display: block;
  width: fit-content;
  margin: auto;
  color: red;
  font-size: 0.9rem;
}

button {
  margin: auto;
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 1.5rem;
  color: white;
  background-color: rgb(92, 173, 240);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0 2px 3px rgb(79, 131, 180);
}

button:focus {
  outline-style: none;
}

button:active {
  box-shadow: 0 2px 5px rgb(79, 131, 180) inset;
}
