<!--<app-error></app-error>
<form *ngIf="!isLoading" (submit)="onLogin(userLoginForm)" #userLoginForm="ngForm">
  <div>
    <label>
      <span class="error-msg" *ngIf="usernameInput.invalid">Username is invalid</span>
      <input class="input-class" placeholder="Username" type="text" name="username" #usernameInput="ngModel" ngModel minlength="6"/>
    </label>
  </div>
  <div>
    <label>
      <span class="error-msg" *ngIf="passwordInput.invalid">Password is invalid</span>
      <input class="input-class" placeholder="Password" type="password" name="password" #passwordInput="ngModel" ngModel minlength="6"/>
    </label>
  </div>
  <div>
    <button name="login" type="submit">Login</button>
  </div>
  <div class="google-btn">
    <div class="google-icon-wrapper">
      <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
    </div>
    <p class="btn-text"><b>Sign in with google</b></p>
  </div>
  <a class="facebook btn" href="#">
    <div class="btn-icon fb-icon"></div>
    Login with Facebook
  </a>
  <a class="twitter btn" href="#">
    <div class="twitter-icon btn-icon"></div>
    Login with Twitter
  </a>
</form>
<div *ngIf="isLoading" class="loader">Loading...</div>-->

<!--<app-error></app-error>-->
<div class="login-form">
  <form *ngIf="!isLoading" (submit)="onLogin(userLoginForm)" #userLoginForm="ngForm">
    <h2 class="text-center">Sign in</h2>
    <div class="form-group">
      <div class="error-msg" *ngIf="usernameInput.invalid">Username is invalid</div>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input type="text" class="form-control" name="username" placeholder="Username" required="required" #usernameInput="ngModel" ngModel minlength="6" >
      </div>
    </div>
    <div class="form-group">
      <div class="error-msg" *ngIf="passwordInput.invalid">Password is invalid</div>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
        <input type="password" class="form-control" name="password" placeholder="Password" required="required" #passwordInput="ngModel" ngModel minlength="6">
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary login-btn btn-block">Sign in</button>
    </div>
    <div class="clearfix">
      <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
      <a href="#" class="pull-right">Forgot Password?</a>
    </div>
    <div class="or-seperator"><i>or</i></div>
    <p class="text-center">Login with your social media account</p>
    <div class="text-center social-btn">
      <a href="#" class="btn btn-primary"><i class="fa fa-facebook"></i>&nbsp; Facebook</a>
      <a href="#" class="btn btn-info"><i class="fa fa-twitter"></i>&nbsp; Twitter</a>
      <a href="#" class="btn btn-danger"><i class="fa fa-google"></i>&nbsp; Google</a>
    </div>
    <p class="text-center text-muted small">Don't have an account? <a href="#" class="sign-up" (click)="openRegister()">Sign up here!</a></p>
    <p class="text-center"><a (click)="hide()" class="close-button">Close</a></p>
  </form>
</div>
