<form *ngIf="!isLoading" (submit)="onSaveQuestion()" #questionsForm>
  <label for="title">
    <span class="title">Title</span>
    <nt-editor
      fontSize="1.6rem"
      tabSpaces="4"
      [value]="retrievedQuestionData?.title"
      (valueChanged)="onTitleValueChanged($event)"
      editable
      focus="true"
    ></nt-editor>
  </label>
  <label for="title">
    <span class="title">Content</span>
    <nt-editor
      fontSize="1.6rem"
      tabSpaces="4"
      [value]="retrievedQuestionData?.content"
      (valueChanged)="onContentValueChanged($event)"
      editable
    ></nt-editor>
  </label>
  <label for="title">
    <span class="title">Solution Template</span>
    <nt-editor
      fontSize="1.6rem"
      tabSpaces="4"
      [value]="(retrievedQuestionData?.solutionTemplate)[0]"
      (valueChanged)="onSolTemplateValueChanged($event)"
      editable
    ></nt-editor>
  </label>
  <label for="title">
    <span class="title">Solution</span>
    <nt-editor
      fontSize="1.6rem"
      tabSpaces="4"
      [value]="(retrievedQuestionData?.solution)[0]"
      (valueChanged)="onSolValueChanged($event)"
      editable
    ></nt-editor>
  </label>
  <label for="title">
    <span class="title">Tests</span>
    <nt-editor
      fontSize="1.6rem"
      tabSpaces="4"
      [value]="(retrievedQuestionData?.tests)[0]"
      (valueChanged)="onTestsValueChanged($event)"
      editable
    ></nt-editor>
  </label>
  <label for="title">
    <span class="title">Hints</span>
    <nt-editor [value]="retrievedQuestionData?.hints" (valueChanged)="onHintsValueChanged($event)"></nt-editor>
  </label>
  <div class="levels">
    <div class="level">
      <input (click)="uncheckOther($event)" id="easy-checkbox" type="checkbox" #checkbox />
      <button class="level-btn" name="easy" type="button">Easy</button>
    </div>
    <div class="level">
      <input (click)="uncheckOther($event)" id="medium-checkbox" type="checkbox" #checkbox />
      <button class="level-btn" name="medium" type="button">Medium</button>
    </div>
    <div class="level">
      <input (click)="uncheckOther($event)" id="hard-checkbox" type="checkbox" #checkbox />
      <button class="level-btn" name="hard" type="button">Hard</button>
    </div>
  </div>
  <button class="alguru-primary-btn" name="create" type="submit">Create</button>
</form>
<div *ngIf="isLoading" class="loader">Loading...</div>
