form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

form > * {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  padding: 0.5rem;
}

form > .levels {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.level {
  display: flex;
  position: relative;
  flex-grow: 1;
}

.level-btn {
  flex-grow: 1;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: var(--primary-btn-border);
  background-color: var(--primary-btn-bg-color);
  transition: background-color 0.2s ease, color 0.2s ease;
  color: var(--primary-btn-color);
}

.level:first-child * {
  border-top-left-radius: 100rem;
  border-bottom-left-radius: 100rem;
  margin-right: 1px;
}

.level:last-child * {
  border-top-right-radius: 100rem;
  border-bottom-right-radius: 100rem;
  margin-left: 1px;
}

input[type='checkbox'] {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

input[type='checkbox']:checked ~ .level-btn,
input[type='checkbox']:hover ~ .level-btn {
  background-color: rgb(56, 139, 216);
  color: white;
}

label {
  border: 1px solid #0000004d;
  cursor: auto;
  background-color: rgb(80, 80, 94);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 0.25rem;
}

.title {
  color: white;
}

app-question-create .editor {
  border-bottom: 2px solid rgb(159, 196, 243);
}

app-question-create .editor:focus {
  border-bottom: 2px solid rgb(159, 196, 243);
  animation: fadein 0.5s forwards;
}

@keyframes fadein {
  from {
    border-bottom: 2px solid rgb(159, 196, 243);
  }
  to {
    border-bottom: 2px solid rgb(29, 116, 231);
  }
}
