@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
  user-select: none;
}

app-root {
  height: 100%;
  width: 100%;
}

app-error {
  width: 30%;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

.loader {
  font-size: 10px;
  text-indent: -9999em;
  margin: auto;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 0.5s linear infinite; /* Safari */
  animation: spin 0.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #00000013;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0.05);
}

html {
  background: var(--site-background-img);
  background-attachment: fixed;
  background-size: cover;
}

html,
body {
  font-size: 62.5%;
  min-height: 100vh;
  background-color: var(--site-background) !important;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-size: 5rem !important;
}

h2 {
  font-size: 4rem !important;
}

h3 {
  font-size: 3rem !important;
}

h4 {
  font-size: 2rem !important;
}

.angular-editor-toolbar {
  font-size: inherit !important;
}

.alguru-primary-btn {
  outline: none !important;
  border: var(--primary-btn-border);
  border-radius: 100px;
  padding: 1rem 2rem 1rem 2rem;
  background-color: var(--primary-btn-bg-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0);
  color: var(--primary-btn-color);
  transition: background-color 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;
}

button:disabled {
  opacity: 0.6;
  cursor: context-menu !important;
}

.alguru-primary-btn:not(:disabled):hover {
  background-color: rgb(238, 80, 80) !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  color: rgb(255, 255, 255);
}

.alguru-secondary-btn {
  outline: none !important;
  border: var(--primary-btn-border);
  border-radius: 0.25rem;
  padding: 0.2rem 2rem 0.2rem 2rem;
  background-color: var(--primary-btn-bg-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0);
  color: var(--primary-btn-color);
  transition: background-color 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;
}

.alguru-secondary-btn:not(:disabled):hover {
  background-color: rgb(67, 134, 197) !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  color: rgb(255, 255, 255);
}

.angular-editor-textarea {
  background-color: var(--primary-btn-bg-color) !important;
  border: var(--primary-btn-border) !important;
  outline: none;
}

.angular-editor-textarea:after {
  background-color: rgba(0, 0, 0, 0) !important;
}

.angular-editor-toolbar {
  background-color: rgba(255, 255, 255, 0.05) !important;
  border: var(--primary-btn-border) !important;
}

.angular-editor-button {
  background-color: rgba(0, 0, 0, 0.2) !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.angular-editor-button:disabled {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.angular-editor-button:disabled > .fa:before {
  color: rgba(255, 255, 255, 0.1) !important;
}

.angular-editor-button:not(:last-child) {
  margin-right: 0.2rem;
}

.fa:before {
  color: var(--primary-btn-color) !important;
}

.title-input,
.ae-picker-options,
.ae-picker-label,
.ae-picker-label:before {
  background: none !important;
  background-color: var(--primary-btn-bg-color) !important;
  border: var(--primary-btn-border) !important;
  color: var(--primary-btn-color) !important;
}

.ae-picker-options,
.ae-picker-options * {
  background-color: rgba(83, 87, 94) !important;
  color: var(--primary-btn-color) !important;
}

.ae-picker-item:hover {
  background-color: rgb(110, 113, 119) !important;
}

.ae-picker-label > svg * {
  stroke: rgba(0, 0, 0, 0.5) !important;
}

ae-select:hover {
  background-color: rgba(0, 0, 0, 0.3) !important;
}

.mat-paginator-icon {
  fill: var(--primary-btn-color) !important;
}

.mat-select-value-text,
.mat-select-arrow {
  color: var(--primary-btn-color);
}

.mat-form-field-underline {
  background-color: var(--primary-btn-color) !important;
}
