@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
  user-select: none;
}

app-root {
  height: 100%;
  width: 100%;
}

app-error {
  width: 30%;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

.loader {
  font-size: 10px;
  text-indent: -9999em;
  margin: auto;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 0.5s linear infinite; /* Safari */
  animation: spin 0.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #00000013;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0.05);
}

html {
  background: var(--site-background-img) !important;
  background-attachment: fixed;
  background-size: cover;
}

html,
body {
  font-size: 62.5%;
  height: 100%;
  background-color: var(--site-background) !important;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

app-root {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 5rem !important;
}

h2 {
  font-size: 4rem !important;
}

h3 {
  font-size: 3rem !important;
}

h4 {
  font-size: 2rem !important;
}

.angular-editor-toolbar {
  font-size: inherit !important;
}

.alguru-primary-btn {
  outline: none;
  border: none;
  border-radius: 100px;
  padding: 1rem 2rem 1rem 2rem;
  background-color: rgb(235, 235, 235);
}

.alguru-primary-btn:hover {
  animation: shadow 0.1s linear forwards, bg-color 0.1s linear forwards, color 0.1s linear forwards;
}

@keyframes shadow {
  from {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0);
  }
  to {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  }
}

@keyframes bg-color {
  from {
    background-color: rgb(235, 235, 235);
  }
  to {
    background-color: rgb(255, 97, 97);
  }
}

@keyframes color {
  from {
    color: rgb(0, 0, 0);
  }
  to {
    color: rgb(255, 255, 255);
  }
}
