.verified {
  color: rgb(40, 182, 40);
}

.verification {
  width: fit-content;
  height: fit-content;
  margin: auto;
  border: 1px solid rgb(173, 173, 173);
  padding: 3rem;
  border-radius: 3rem;
}

.verification * {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  font-size: 1.8rem;
}

.verification *:not(:last-child) {
  margin-bottom: 3rem;
}
