<form (submit)="onAddQuestion(questionsForm)" #questionsForm="ngForm">
  <input placeholder="Title" name="title" type="text" #title="ngModel" ngModel required minlength="3"/>
  <textarea placeholder="Question" name="content" id="" cols="100" rows="10" ngModel required minlength="3"></textarea>
  <textarea placeholder="Solution" name="solution" id="" cols="100" rows="10" ngModel required minlength="3"></textarea>
  <textarea placeholder="Hints" name="hints" id="" cols="100" rows="10" ngModel required minlength="3"></textarea>

  <div class="level">
    <button (click)="setLevel(0)" name="easy" type="button">Easy</button>
    <button (click)="setLevel(1)" name="medium" type="button">Medium</button>
    <button (click)="setLevel(2)" name="hard" type="button">Hard</button>
  </div>

  <button name="create" type="submit">Create</button>
</form>
