<div class="list-container">
  <div *ngIf="!verified && !emailSent" [ngClass]="{ container: true, 'auth-message-color': !verified }">
    Please verify your email address.
    <button class="resend-btn" (click)="resendVarificationEmail()">Resend varification email</button>.
  </div>
  <div *ngIf="emailSent">
    Email varification sent.
  </div>
  <button class="create-question-btn alguru-primary-btn" [routerLink]="['/questions/create']" [disabled]="!verified">
    Create Question
  </button>
  <mat-form-field id="filter" color="warn">
    <mat-label>Filter by level</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Enter search term" autocomplete="off" />
  </mat-form-field>

  <div id="questions" class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
        <td mat-cell *matCellDef="let question">{{ question.title }}</td>
      </ng-container>

      <!-- Level Column -->
      <ng-container matColumnDef="level">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Level</th>
        <td mat-cell *matCellDef="let question">
          {{ question.level == 2 ? 'Hard' : question.level == 1 ? 'Medium' : 'Easy' }}
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
        <td mat-cell *matCellDef="let question">
          <button
            *ngIf="isUserAuth"
            [routerLink]="['/questions/solve', question.id]"
            class="alguru-secondary-btn"
            [disabled]="!verified"
          >
            Solve
          </button>
          <button
            *ngIf="(isUserAuth && userId === question.creator) || isAdmin"
            [routerLink]="['/questions/edit', question.id]"
            class="alguru-secondary-btn"
            [disabled]="!verified"
          >
            Edit
          </button>
          <button
            *ngIf="(isUserAuth && userId === question.creator) || isAdmin"
            (click)="onDelete(question.id)"
            class="alguru-secondary-btn"
            [disabled]="!verified"
          >
            Delete
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      color="warn"
      showFirstLastButtons
      [pageSize]="5"
      [length]="questions.length"
      [pageSizeOptions]="[5, 10, 25]"
    ></mat-paginator>
  </div>
</div>
