table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

.action-button {
  margin-right: 10px;
}

.create-question-btn {
  margin-bottom: 1rem;
}

.list-container {
  margin: auto;
  max-width: 80vw;
  height: 100%;
}

#questions,
#questions *:not(mat-paginator) {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
}

#questions button {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: var(--primary-btn-bg-color);
  border: var(--primary-btn-border);
}

mat-paginator,
mat-paginator * {
  background-color: rgba(255, 255, 255, 0.05);
  color: var(--primary-btn-color);
}

#questions {
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: -1px 2px 8px rgba(0, 0, 0, 0.3);
}

#filter,
#filter *,
#filter input::placeholder {
  color: white;
}

.alguru-secondary-btn {
  margin-right: 1rem;
}

.alguru-secondary-btn:last-child {
  margin-right: 0;
}

.auth-message-color {
  background-color: rgb(214, 69, 69);
}

.resend-btn {
  background-color: transparent;
  border: none;
  color: rgb(55, 0, 255);
}

.container {
  position: relative;
  box-shadow: -1px 3px 3px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem 0;
  max-width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
}

@media only screen and (max-width: 800px) {
  .list-container {
    max-width: 95vw;
  }
}
