<!--<app-error></app-error>-->
<!--<form *ngIf="!isLoading" (submit)="onRegister(userRegistration)" #userRegistration="ngForm">-->
<!--  <label>-->
<!--    <span class="error-msg" *ngIf="usernameInput.invalid">Username is invalid</span>-->
<!--    <input placeholder="Username (6 characters and above)" type="text" name="username" #usernameInput="ngModel" ngModel minlength="6"/>-->
<!--  </label>-->
<!--  <label>-->
<!--    <span class="error-msg" *ngIf="emailInput.invalid">Email is invalid</span>-->
<!--    <input placeholder="Email" type="email" name="email" #emailInput="ngModel" ngModel email/>-->
<!--  </label>-->
<!--  <label>-->
<!--    <span class="error-msg" *ngIf="passwordInput.invalid">Password is invalid</span>-->
<!--    <input placeholder="Password (6 characters and above)" type="password" name="password" #passwordInput="ngModel" ngModel minlength="6"/>-->
<!--  </label>-->
<!--  <button name="register" type="submit">Register</button>-->
<!--</form>-->
<!--<div *ngIf="isLoading" class="loader">Loading...</div>-->


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="login-form">
  <app-error></app-error>
  <form *ngIf="!isLoading" (submit)="onRegister(userRegistration)" #userRegistration="ngForm">
    <div *ngIf="isLoading" class="loader">Loading...</div>
    <div *ngIf="!isLoading">
      <h2 class="text-center">Register</h2>
      <div class="form-group">
        <div class="error-msg" *ngIf="usernameInput.invalid">Username is invalid</div>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <input type="text" class="form-control" name="username" placeholder="Username (6 characters and above)" required="required" #usernameInput="ngModel" ngModel minlength="6" >
        </div>
      </div>
      <div class="form-group">
        <div class="error-msg" *ngIf="emailInput.invalid">Email is invalid</div>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
          <input placeholder="Email" type="email" name="email" #emailInput="ngModel" class="form-control" required="required" #passwordInput="ngModel" ngModel email="6">
        </div>
      </div>
      <div class="form-group">
        <div class="error-msg" *ngIf="passwordInput.invalid">Password is invalid</div>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <input type="password" class="form-control" name="password" placeholder="Password (6 characters and above)" required="required" #passwordInput="ngModel" ngModel minlength="6">
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary login-btn btn-block">Register</button>
      </div>
      <p class="text-center"><a (click)="hide()" class="close-button">Close</a></p>
    </div>
  </form>
</div>

