<app-error></app-error>
<form (submit)="resetPassword(resetPasswordForm)" #resetPasswordForm="ngForm">
  <div *ngIf="isLoading" class="loader">Loading...</div>
  <div *ngIf="!isLoading" class="form-group">
    <div class="input-group">
      <input placeholder="New Password" type="password" name="password" class="form-control" ngModel required />
    </div>
    <div class="input-group">
      <input placeholder="New Password" type="password" name="confirmPassword" class="form-control" ngModel required />
    </div>
  </div>
  <button *ngIf="!isLoading" type="submit" class="btn close-button">Reset</button>
</form>
