form {
  margin: auto;
  width: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form * {
  margin-bottom: 0.5rem;
  font-size: 1.6rem !important;
}

app-error > .errors {
  margin: auto !important;
  width: 385px !important;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  margin-bottom: 0.5rem !important;
}

form button {
  transition: all 0.5s ease;
  width: fit-content;
  margin: auto;
}

form button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
