<div class="editor-container" #container>
  <div *ngIf="lineNumbering === 'true'" class="numbers-container" #numbers>
    <div *ngFor="let number of linesNumbers" class="line-number">{{ number }}</div>
  </div>
  <span
    (input)="onInput($event)"
    (keydown)="onKeyDown($event)"
    (keyup)="onKeyUp($event)"
    (mouseup)="onMouseUp($event)"
    (mousedown)="onMouseDown($event)"
    (copy)="handleEvent($event)"
    (paste)="handleEvent($event)"
    (cut)="handleEvent($event)"
    contenteditable="true"
    class="editor"
    [style.width]="editorWidth"
    #editor
  >
  </span>
</div>
