* {
    max-width: 100%;
}

.editor {
    padding: 0.5rem 0.8rem;
    height: 100%;
    min-height: fit-content;
    width: 100%;
    background-color: var(--editor-background);
    border: none;
    color: var(--text-color);
    counter-reset: line;
}

.editor:focus {
    outline: none;
    white-space: pre-wrap;
}

.numbers-container {
    padding: 0.5rem 0;
    height: fit-content;
    background-color: var(--editor-background);
    color: var(--text-color);
}

.editor-container {
    position: relative;
    background-color: var(--editor-background);
    display: flex;
    flex-direction: row;
    flex: auto;
    width: 100%;
    min-height: fit-content;
    max-height: 100%;
    overflow: auto;
}

.line-number {
    border-right: var(--editor-border);
    padding: 0 0.8rem;
    cursor: context-menu;
    user-select: none;
    -webkit-user-select: none;
}

.uneditable {
    -webkit-user-select: none;
    user-select: none;
    cursor: context-menu;
}

.tab {
    white-space: pre;
}

.access-modifier {
    color: rgb(103, 194, 255);
}

.non-access-modifier {
    color: rgb(103, 194, 255);
}

.other {
    color: rgb(103, 194, 255);
}

.literal {
    color: rgb(245, 114, 186);
}

.primitive {
    color: rgb(255, 186, 121);
}

.primitive-wrapper {
    color: rgb(255, 186, 121);
}

.structural {
    color:rgb(195, 204, 218);
}

.view-line {
    white-space: pre;
    caret-color: var(--caret-color);
}

.focus {
    background-color: rgba(0, 0, 0, 0.020);
    outline: 1px solid rgba(0, 0, 0, 0.150);
}