main {
  display: var(--main-display);
  position: relative;
  width: 100vw;
  margin: auto;
  max-width: 100%;
  flex: 1;
  padding: var(--main-padding);
  background-color: var(--main-background-color);
  transition: background-color 0.2s ease;
}
