<div class="account-container">
  <div class="side-nav">
    <div class="frame">
      <div class="title">
        Profile
      </div>
      <div class="info">
        <div class="profile-img">
          <img *ngIf="profileImageURL" [src]="profileImageURL" (error)="onImageURLBroken()" alt="profile image" />
          <div class="default-img" *ngIf="!profileImageURL">
            <fa-icon [icon]="['fas', 'user']" size="5x"></fa-icon>
          </div>
          <form *ngIf="showChangeImageBtn" method="POST" enctype="multipart/form-data" #uploadImageForm>
            <input
              (change)="submit($event)"
              type="file"
              id="select-file"
              name="image"
              value=""
              accept="image/gif, image/jpeg, image/png"
              #selectFile
            />
            <button class="btn-select-file" (click)="onSelectFileClick()">Change...</button>
          </form>
        </div>
        <div class="details">
          <div class="detail">
            <span>{{ username }}</span>
          </div>
        </div>
        <div class="details">
          <div class="detail">
            <fa-icon class="github-icon icon" [icon]="['fab', 'github']" size="2x"></fa-icon>
          </div>
          <div class="detail">
            <fa-icon class="linkedin-icon icon" [icon]="['fab', 'linkedin']" size="2x"></fa-icon>
          </div>
          <div class="detail">
            <fa-icon class="facebook-icon icon" [icon]="['fab', 'facebook']" size="2x"></fa-icon>
          </div>
          <div class="detail">
            <fa-icon class="twitter-icon icon" [icon]="['fab', 'twitter']" size="2x"></fa-icon>
          </div>
        </div>
      </div>
    </div>
    <div class="frame">
      <div class="title">
        Progress
      </div>
      <div class="stat">
        <span class="type">Solved Questions</span><span class="stat-value">{{ solvedQuestions }}</span>
      </div>
    </div>
    <div class="frame">
      <div class="title">
        Contribution
      </div>
      <div class="stat">
        <span class="type">Points</span><span class="stat-value">{{ contribPoints }}</span>
      </div>
      <div class="stat">
        <span class="type">Porblems</span><span class="stat-value">{{ contribProblems }}</span>
      </div>
      <div class="stat">
        <span class="type">Comments On Forum</span><span class="stat-value">{{ contribComments }}</span>
      </div>
    </div>
  </div>
  <div class="frame content"></div>
</div>

<div *ngIf="cropPopupOpen" id="crop-popup" (click)="closeCropPopup()">
  <app-cropper
    *ngIf="!isLoading"
    [src]="tmpProfileImageURL"
    [uploadto]="uploadURL"
    (click)="$event.stopPropagation()"
    (cropClick)="onCropBtnClick()"
  >
  </app-cropper>
  <div *ngIf="isLoading" class="loader"></div>
</div>
