<div class="account-container">
  <div class="side-nav">
    <div class="frame">
      <div class="title">
        <span>Profile</span>
        <fa-icon
          [icon]="['fas', 'cog']"
          size="2x"
          (click)="toggleEditMode()"
          [ngStyle]="{
            color: onEditMode ? 'rgba(255, 255, 255, 0.5)' : 'white'
          }"
          [ngClass]="{
            'settings-icon-disabled': onEditMode,
            'settings-icon': !onEditMode
          }"
          *ngIf="showSettings"
        ></fa-icon>
      </div>
      <div class="info">
        <div class="profile-img">
          <img *ngIf="profileImageURL" [src]="profileImageURL" (error)="onImageURLBroken()" alt="profile image" />
          <div class="default-img" *ngIf="!profileImageURL">
            <fa-icon [icon]="['fas', 'user']" size="5x"></fa-icon>
          </div>
          <form *ngIf="showChangeImageBtn" method="POST" enctype="multipart/form-data" #uploadImageForm>
            <input
              (change)="submit($event)"
              type="file"
              id="select-file"
              name="image"
              value=""
              accept="image/gif, image/jpeg, image/png"
              #selectFile
            />
            <button class="btn-select-file" (click)="onSelectFileClick()">Change picture</button>
          </form>
        </div>
        <div class="details">
          <div class="detail">
            <span>{{ username }}</span>
          </div>
        </div>
        <div class="details">
          <div class="detail">
            <fa-icon
              [icon]="['fab', 'github']"
              (click)="onProfileURLsClick(urlTypes.Github, currentInfo.socials[1].url !== '')"
              size="2x"
              [ngClass]="
                currentInfo.socials[1].url !== '' ? 'github-icon social-icon active-github' : 'github-icon social-icon'
              "
            >
            </fa-icon>
          </div>
          <div class="detail">
            <fa-icon
              [icon]="['fab', 'linkedin']"
              (click)="onProfileURLsClick(urlTypes.LinkedIn, currentInfo.socials[2].url !== '')"
              size="2x"
              [ngClass]="
                currentInfo.socials[2].url !== '' ? 'linkedin-icon icon active-linkedin' : 'linkedin-icon social-icon'
              "
            >
            </fa-icon>
          </div>
          <div class="detail">
            <fa-icon
              [icon]="['fab', 'facebook']"
              (click)="onProfileURLsClick(urlTypes.Facebook, currentInfo.socials[0].url !== '')"
              size="2x"
              [ngClass]="
                currentInfo.socials[0].url !== '' ? 'facebook-icon icon active-facebook' : 'facebook-icon social-icon'
              "
            >
            </fa-icon>
          </div>
          <div class="detail">
            <fa-icon
              [icon]="['fab', 'twitter']"
              (click)="onProfileURLsClick(urlTypes.Twitter, currentInfo.socials[3].url !== '')"
              size="2x"
              [ngClass]="
                currentInfo.socials[3].url !== '' ? 'twitter-icon icon active-twitter' : 'twitter-icon social-icon'
              "
            >
            </fa-icon>
          </div>
        </div>
      </div>
    </div>
    <div class="frame">
      <div class="title">
        Progress
      </div>
      <div class="stat">
        <span class="type">Solved Questions</span><span class="stat-value">{{ solvedQuestions }}</span>
      </div>
    </div>
    <div class="frame">
      <div class="title">
        Contribution
      </div>
      <div class="stat">
        <span class="type">Points</span><span class="stat-value">{{ stats?.contribPoints }}</span>
      </div>
      <div class="stat">
        <span class="type">Porblems</span><span class="stat-value">{{ stats?.contribProblems }}</span>
      </div>
      <div class="stat">
        <span class="type">Comments In Forum</span><span class="stat-value">{{ stats?.contribComments }}</span>
      </div>
    </div>
  </div>
  <div class="frame content">
    <app-notifications-center
      *ngIf="!onEditMode"
      [notifications]="notifications"
      fontColor="white"
      notificationColor="#353a42"
    >
    </app-notifications-center>
    <div class="title" *ngIf="onEditMode">Settings</div>
    <div class="settings" *ngIf="onEditMode">
      <h5 class="edit-lable">Username:</h5>
      <input type="text" name="username" class="form-control" [(ngModel)]="currentInfo.username" />
      <h5 class="edit-lable">Mail:</h5>
      <input type="text" name="email" class="form-control" [(ngModel)]="currentInfo.email" />
      <h5 class="edit-lable">Facebook:</h5>
      <input type="text" name="facebook-url" class="form-control" [(ngModel)]="currentInfo.socials[0].url" />
      <h5 class="edit-lable">Github:</h5>
      <input type="text" name="github-url" class="form-control" [(ngModel)]="currentInfo.socials[1].url" />
      <h5 class="edit-lable">Linkedin:</h5>
      <input type="text" name="linkedin-url" class="form-control" [(ngModel)]="currentInfo.socials[2].url" />
      <h5 class="edit-lable">Twitter:</h5>
      <input type="text" name="twitter-url" class="form-control" [(ngModel)]="currentInfo.socials[3].url" />
      <h5 class="edit-lable">New password:</h5>
      <input type="password" class="form-control" [(ngModel)]="currentInfo.newPassword" />
      <div class="auth">
        <div class="passwords">
          <h5 class="edit-lable">Please enter your password to update:</h5>
          <input
            type="password"
            placeholder="Password"
            class="form-control"
            [(ngModel)]="currentInfo.password"
            minlength="8"
          />
          <input
            type="password"
            placeholder="Password"
            class="form-control"
            [(ngModel)]="currentInfo.confirmPassword"
            minlength="8"
          />
        </div>
        <div class="btns">
          <button class="submit-btn alguru-primary-btn" (click)="onSubmitEditClicked()">Submit</button>
          <button class="submit-btn alguru-primary-btn" (click)="toggleEditMode()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  Edit Profile-->
<div *ngIf="cropPopupOpen" id="crop-popup" (click)="closeCropPopup()">
  <app-cropper
    *ngIf="!isLoading"
    [src]="tmpProfileImageURL"
    [uploadto]="uploadURL"
    (click)="$event.stopPropagation()"
    (cropClick)="onCropBtnClick()"
  >
  </app-cropper>
  <div *ngIf="isLoading" class="loader"></div>
</div>
