<div class="account-container">
  <div class="side-nav">
    <div class="frame">
      <div class="title">
        Profile
      </div>
      <div class="info">
        <div class="profile-img">
          <img *ngIf="profileImageURL" [src]="profileImageURL" (error)="onImageURLBroken()" alt="profile image" />
          <div class="default-img" *ngIf="!profileImageURL">
            <fa-icon [icon]="['fas', 'user']" size="5x"></fa-icon>
          </div>
          <form *ngIf="showChangeImageBtn" method="POST" enctype="multipart/form-data" #uploadImageForm>
            <input
              (change)="submit($event)"
              type="file"
              id="select-file"
              name="image"
              value=""
              accept="image/gif, image/jpeg, image/png"
              #selectFile
            />
            <button class="btn-select-file" (click)="onSelectFileClick()">Change picture</button>
            <button class="edit-btn alguru-primary-btn" (click)="onEditModeClicked()" [disabled]="onEditMode"> Edit profile</button>
          </form>
        </div>

        <div class="details">
          <div class="detail">
            <span>{{ username }}</span>
          </div>
        </div>
        <div class="details">
          <div class="detail">
            <fa-icon [icon]="['fab', 'github']" (click)="onProfileURLsClick(urlTypes.Github)" size="2x" [ngClass]="editInformationObj.githubURL ? 'github-icon icon active-icon' : 'github-icon icon'" ></fa-icon>
          </div>
          <div class="detail">
            <fa-icon [icon]="['fab', 'linkedin']" (click)="onProfileURLsClick(urlTypes.LinkedIn)" size="2x" [ngClass]="editInformationObj.linkedinURL ? 'linkedin-icon icon active-icon' : 'linkedin-icon icon icon'"></fa-icon>
          </div>
          <div class="detail">
            <fa-icon [icon]="['fab', 'facebook']" (click)="onProfileURLsClick(urlTypes.Facebook)" size="2x" [ngClass]="editInformationObj.facebookURL ? 'facebook-icon icon active-icon' : 'facebook-icon icon'"></fa-icon>
          </div>
          <div class="detail">
            <fa-icon [icon]="['fab', 'twitter']" (click)="onProfileURLsClick(urlTypes.Twitter)" size="2x" [ngClass]="editInformationObj.twitterURL ? 'twitter-icon icon active-icon' : 'twitter-icon icon'"></fa-icon>
          </div>
        </div>
      </div>
    </div>
    <div class="frame">
      <div class="title">
        Progress
      </div>
      <div class="stat">
        <span class="type">Solved Questions</span><span class="stat-value">{{ solvedQuestions }}</span>
      </div>
    </div>
    <div class="frame">
      <div class="title">
        Contribution
      </div>
      <div class="stat">
        <span class="type">Points</span><span class="stat-value">{{ stats?.contribPoints }}</span>
      </div>
      <div class="stat">
        <span class="type">Porblems</span><span class="stat-value">{{ stats?.contribProblems }}</span>
      </div>
      <div class="stat">
        <span class="type">Comments In Forum</span><span class="stat-value">{{ stats?.contribComments }}</span>
      </div>
    </div>
  </div>
<!--  Notifications-->
  <div class="frame content" *ngIf="!onEditMode">
    <div class="title"> Notifications: </div>
    <div
      class="notification-container"
      [routerLink]="[notification.url]"
      *ngFor="let notification of notifications?.slice().reverse()">
        <div class="notification-title">
          <h4>
            {{ notification.title }}
          </h4>
        </div>
        <div class="notification-content">
          <h5>
            {{ notification.content }}
          </h5>
        </div>
        <div class="notification-data-right">
          <div class="notification-details">
            <h5>
              {{ notification.createdAt |  date:'medium' }}
            </h5>
          </div>
        </div>
  </div>
</div>
  <!--  Edit Profile-->
  <div class="frame content" *ngIf="onEditMode">
    <div class="title"> Edit Profile: </div>
    <div class="edit-information"> Enter details in the appropriate places only in the categories <br>
                        you want to change. Old password is necessary  </div>
      <div class="title"> Password: </div>
      <h5 class="edit-lable">Old Password: </h5>
      <label>
        <input type="password" class="form-control" [(ngModel)]="editInformationObj.oldPassword"
               name="designation" minlength="8" required/>
      </label>
        <h5 class="edit-lable">New password: </h5>
      <label>
        <input type="text" class="form-control" [(ngModel)]="editInformationObj.newPassword"
               name="designation" minlength="8"/>
      </label>
    <div class="title"> Mail: </div>
    <h5 class="edit-lable"> New mail:</h5>
    <label>
      <input type="text" class="form-control" [(ngModel)]="editInformationObj.newMail"
             name="designation"/>
    </label>
    <div class="title"> Socials media information: </div>
      <h5 class="edit-lable"> Facebook </h5>
    <label>
      <input type="text" class="form-control" [(ngModel)]="editInformationObj.facebookURL"
             name="designation"/>
    </label>
    <h5 class="edit-lable"> Github:</h5>
    <label>
      <input type="text" class="form-control" [(ngModel)]="editInformationObj.githubURL"
             name="designation"/>
    </label>
    <h5 class="edit-lable"> Twitter:</h5>
    <label>
      <input type="text" class="form-control" [(ngModel)]="editInformationObj.twitterURL"
             name="designation"/>
    </label>
    <h5 class="edit-lable"> Linkedin:</h5>
    <label>
      <input type="text" class="form-control" [(ngModel)]="editInformationObj.linkedinURL"
             name="designation"/>
    </label>

    <div class="submit-btn alguru-primary-btn" (click)="onSubmitEditClicked()"> Submit </div>
    <div class="submit-btn alguru-primary-btn" (click)="onCancelEditClicked()"> Cancel </div>
  </div>
<div *ngIf="cropPopupOpen" id="crop-popup" (click)="closeCropPopup()">
  <app-cropper
    *ngIf="!isLoading"
    [src]="tmpProfileImageURL"
    [uploadto]="uploadURL"
    (click)="$event.stopPropagation()"
    (cropClick)="onCropBtnClick()"
  >
  </app-cropper>
  <div *ngIf="isLoading" class="loader"></div>
</div>
</div>
