* {
  color: white;
}

.account-container {
  max-width: 50vw;
  min-width: 70rem;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.side-nav {
  min-width: 30rem;
}

.content {
  flex: 1;
}

.frame {
  width: 100%;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 1rem;
  box-shadow: -1px 3px 3px rgba(0, 0, 0, 0.3);
}

.frame:not(:last-child) {
  margin-bottom: 2rem;
}

.title {
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 1rem;
  text-align: center;
  border-bottom: 1px solid rgb(230, 230, 230);
  background-color: rgb(96, 102, 112);
  color: white;
}

.stat {
  padding: 0.75rem;
  display: flex;
}

.type {
  display: flex;
  flex: 1 1 auto;
}

.content {
  border-radius: 1rem;
  border: 1px solid rgb(230, 230, 230);
  margin-left: 1rem;
}

.info {
  padding: 0.75rem;
  display: flex;
  flex-direction: row;
}

fa-icon:not(:last-child) {
  margin-right: 0.5rem;
}

.btn-select-file {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 1rem;
  background: none;
  border: none;
  outline: none;
  color: white;
  background-color: rgba(87, 87, 87, 0.801);
  width: 100%;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.default-img {
  display: flex;
  justify-content: center;
  position: relative;
  width: 10rem;
  height: 10rem;
  background-color: rgb(89, 186, 241);
  border-radius: 1rem;
  border-radius: 1rem;
  box-shadow: -1px 3px 3px rgba(0, 0, 0, 0.3);
}

.default-img > fa-icon {
  margin: auto;
}

#select-file {
  display: none;
}

.profile-img {
  position: relative;
  height: fit-content;
  width: fit-content;
}

.profile-img > img {
  width: 10rem;
  height: 10rem;
  border-radius: 1rem;
  box-shadow: -1px 3px 3px rgba(0, 0, 0, 0.3);
}

#crop-popup {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

#crop-popup > * {
  margin: auto;
}

.details:not(:last-child) {
  flex: 1;
}

.details:last-child {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.details {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.detail:not(:last-child) {
  margin-bottom: 1rem;
}

.detail {
  padding-left: 1rem;
  display: flex;
}

.detail:first-child {
  flex: 1;
  justify-content: left !important;
}

.main {
  background-color: black !important;
}

@media only screen and (max-width: 800px) {
  .account-container {
    flex-direction: column;
    min-width: 0;
    max-width: 90vw;
  }

  .side-nav {
    min-width: 0;
  }

  .content {
    margin-top: 2rem;
    margin-left: 0;
  }
}

/*notifications :*/

.notification-container {
  position: relative;
  background-color: rgba(235, 235, 235, 0);
  box-shadow: -1px 3px 3px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem 0;
  max-width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
  cursor: pointer;
}

.notification-data-right {
  color: #aaa;
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  float: right;
}

.notification-details {
  margin-top: -12px;
}

.edit-btn{
  position: absolute;
  margin-top: 13px;
  padding: 0.5rem;
}

.edit-lable{
  margin: 5px;
}

.submit-btn{
  float: right;
  margin: 5px;
  padding: 0.5rem;
}

.form-control{
 font-size: 1.3rem;
}

.edit-information{
  margin: 10px 0;
  text-align: center;
}

.active-icon{
    cursor: pointer;
}
