.app-error-container {
  overflow: hidden;
  border-radius: 5px;
}

.changed {
  animation: highlight-fade 0.3s linear;
}

@keyframes highlight-fade {
  from {
    background-color: rgb(67, 164, 255);
  }
  to {
    background-color: rgba(67, 164, 255, 0);
  }
}

.row-view {
  display: flex;
  flex-direction: row;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 74vh;
}

.voting {
  margin: auto;
  height: 15rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(77, 77, 77);
}

.post-container {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.vote {
  margin: auto;
  width: 2.3rem;
  height: 2.3rem;
  display: block;
  border: solid var(--primary-btn-color);
  border-width: 0 0.6rem 0.6rem 0;
  cursor: pointer;
}

.vote-up {
  transform: rotate(225deg);
}

.vote-up:hover {
  animation: up-border-color 0.1s forwards;
}

@keyframes up-border-color {
  from {
    border-color: var(--primary-btn-color);
  }
  to {
    border-color: rgb(50, 214, 50);
  }
}

.vote-down {
  transform: rotate(45deg);
}

.vote-down:hover {
  animation: down-border-color 0.2s forwards;
}

@keyframes down-border-color {
  from {
    border-color: var(--primary-btn-color);
  }
  to {
    border-color: rgb(230, 83, 78);
  }
}

.votes {
  text-align: center;
  width: 4rem;
  padding: 1rem 0rem 1rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--primary-btn-color);
}

.error-message {
  color: red;
}

.container {
  position: relative;
  background-color: rgba(235, 235, 235, 0);
  box-shadow: -1px 3px 3px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem 0;
  max-width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
}

.current-date {
  background-color: rgb(67, 134, 197) !important;
  color: white;
}

button {
  color: rgba(255, 255, 255, 0.9);
}

.respect-padding {
  position: relative;
}

.edits {
  z-index: 10;
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0;
  min-width: fit-content;
}

.edits-btn-container {
  position: relative;
  height: 3rem;
}

.edits-btn {
  color: rgb(175, 175, 175);
  position: absolute;
  top: -0.5rem;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  min-width: fit-content;
}

.edits-btn:hover {
  color: rgb(67, 164, 255);
}

.pop-up {
  z-index: 999;
  top: 1.5rem;
  transform: translateX(-116%);
  position: absolute;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  border-top-right-radius: 0;
  min-width: fit-content;
}

.pop-up button {
  outline: none;
  border: none;
  min-width: 100%;
  background-color: rgb(74, 78, 85);
  padding: 0.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.edit-date {
  white-space: nowrap;
  min-width: fit-content;
}

.pop-up div:first-child,
.pop-up div:first-child > * {
  border-top-left-radius: 1rem;
}

.pop-up div:last-child,
.pop-up div:last-child > * {
  border-bottom: 0;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.pop-up button:hover {
  background-color: rgb(67, 134, 197);
}

.starter {
  border-bottom: 2px solid rgb(54, 184, 244);
}

.clickable {
  outline: none;
  position: relative;
  cursor: pointer;
}

/* Clear floats */
.container::after {
  content: '';
  clear: both;
  display: table;
}

/* Style images */
.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.container img.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

.btn-disable {
  cursor: default !important;
  border-color: rgba(0, 0, 0, 0.15) !important;
}

.content {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.post-comment {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
  padding-left: 1rem;
}

.post-comment,
.spacer {
  flex: 1;
}

.post-content {
  flex-grow: 100;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

/* Style time text */
.data-right {
  color: #aaa;
  display: flex;
  flex-direction: column;
  min-width: fit-content;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}

.green-border-focus .form-control:focus {
  border: 1px solid #8585fb;
  box-shadow: 0 0 0 0.2rem rgba(133, 133, 251, 0.57);
}

.message {
  margin: 8px 0;
}

.forum-btn {
  margin: 1rem 1rem 0 0 !important;
  box-sizing: border-box;
  cursor: pointer;
}

.forum-container {
  margin: auto;
  max-width: 80vw;
}

.alguru-secondary-btn:not(:last-child) {
  margin-bottom: 0.5rem;
}

.title-input {
  width: 100%;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  caret-color: white;
  outline: none;
  resize: none;
}

button {
  outline: none !important;
}

.alguru-secondary-btn {
  max-width: 20rem;
}

.details {
  display: flex;
  flex-direction: column;
}

.auth-message-color {
  background-color: rgb(214, 69, 69);
}

@media only screen and (max-width: 800px) {
  .forum-container {
    max-width: 95vw;
  }

  .post-comment,
  .post-container {
    flex-direction: column;
  }

  .data-right {
    flex-direction: row;
  }
}
