<div class="forum-container">
  <!--All Posts-->
  <div *ngIf="!showPost">
    <div class="app-error-container">
      <app-error></app-error>
    </div>
    <button class="forum-btn alguru-primary-btn" (click)="onAddNewPostClick()">
      {{ addNewPost ? 'Cancel' : 'Add new post' }}
    </button>
    <!--Add new Post mode-->
    <div [ngClass]="{ container: true, 'auth-message-color': !isAuth }" class="container" *ngIf="addNewPost">
      <div *ngIf="!isAuth">
        Please login to add a new post.
      </div>
      <div *ngIf="isAuth" id="new-post-editor">
        <div class="form-group green-border-focus">
          <label for="titleTextarea1">Title:</label>
          <textarea
            class="title-input"
            id="titleTextarea1"
            rows="1"
            #newPostTitle
            [(ngModel)]="titleDefaultValue"
          ></textarea>
          <div class="error-message" *ngIf="isEmptyTitle">Title can not be empty</div>
          <div class="message">Message:</div>
          <angular-editor id="editor1" [config]="getEditorConfig()" [(ngModel)]="messageDefaultValue"></angular-editor>
          <div class="error-message" *ngIf="isEmptyMessage">Message can not be empty</div>
        </div>
        <button class="forum-btn alguru-primary-btn" (click)="onSubmitPost(newPostTitle.value, messageDefaultValue)">
          Submit
        </button>
        <button class="forum-btn alguru-primary-btn" (click)="onAddNewPostClick()">
          Cancel
        </button>
      </div>
    </div>
    <div class="container welcome" *ngIf="showWelcome">
      <h1>Welcome to Alguru forum.</h1>
      <h3>There are no posts at this moment. Be the first!</h3>
    </div>
    <!--Regular Mode-->
    <div class="container starter" *ngFor="let post of posts.slice().reverse()">
      <div class="respect-padding">
        <div class="edits">
          <div class="edits-btn-container">
            <button
              class="edits-btn"
              *ngIf="post.titles.length > 1"
              (click)="onShowEdits(post); $event.stopPropagation()"
            >
              edits
            </button>
          </div>
          <div class="pop-up" *ngIf="post.showEdits">
            <div *ngFor="let date of post.dates">
              <button
                [ngClass]="date === post.currentDate ? 'edit-date current-date' : 'edit-date'"
                (click)="onEditDateClicked($event, post, date); $event.stopPropagation()"
              >
                {{ getDate(date) }}
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row-view clickable" [routerLink]="['/forum/post', post.id]" *ngIf="!post.onEditPostMode">
        <div class="voting" (click)="$event.stopPropagation()">
          <div [ngClass]="{ 'vote vote-up': true, 'btn-disable': !isAuth }" (click)="voteUp(post, false)"></div>
          <div class="votes">{{ getVotes(post) }}</div>
          <div [ngClass]="{ 'vote vote-down': true, 'btn-disable': !isAuth }" (click)="voteDown(post, false)"></div>
        </div>
        <div class="post-container">
          <div class="content">
            <h4 class="title">{{ post.currentTitle }}</h4>
            <div class="post-content" [innerHTML]="post.currentContent"></div>
          </div>
          <div class="data-right">
            <div class="spacer"></div>
            <div class="details">
              <span> By: {{ post.author }} </span>
              <span> At: {{ getDate(post.currentDate) }}</span>
              <button
                class="alguru-secondary-btn"
                *ngIf="isAdmin || post.author === loggedInUsername"
                (click)="onDeletePostClick(post); $event.stopPropagation()"
              >
                Delete Post
              </button>
              <button
                class="alguru-secondary-btn"
                *ngIf="isAdmin || post.author === loggedInUsername"
                (click)="onEditPostClick(post); $event.stopPropagation()"
              >
                Edit Post
              </button>
            </div>
          </div>
        </div>
      </div>
      <!--On Edit post mode-->
      <div *ngIf="post.onEditPostMode">
        <div class="form-group green-border-focus">
          <label for="titleTextarea3">Title:</label>
          <textarea class="title-input" id="titleTextarea3" rows="1" [(ngModel)]="post.currentTitle"></textarea>
          <div class="message">Message:</div>
          <angular-editor id="editor3" [config]="getEditorConfig()" [(ngModel)]="post.currentContent"></angular-editor>
        </div>
        <button class="forum-btn alguru-primary-btn" (click)="onSubmitPost()">
          Submit
        </button>
        <button class="forum-btn alguru-primary-btn" (click)="onEditPostClick(null)">
          Cancel
        </button>
      </div>
    </div>
  </div>
  <!-- Post + Comments -->
  <!-- posts -->
  <div *ngIf="showPost">
    <button class="forum-btn alguru-primary-btn" [routerLink]="['/forum']">Back</button>
    <div class="container starter">
      <div class="respect-padding">
        <div class="edits">
          <div class="edits-btn-container">
            <button
              class="edits-btn"
              *ngIf="selectedPost.titles.length > 1"
              (click)="onShowEdits(selectedPost); $event.stopPropagation()"
            >
              edits
            </button>
          </div>
          <div class="pop-up" *ngIf="selectedPost.showEdits">
            <div *ngFor="let date of selectedPost.dates">
              <button
                [ngClass]="date === selectedPost.currentDate ? 'edit-date current-date' : 'edit-date'"
                (click)="onEditDateClicked($event, selectedPost, date); $event.stopPropagation()"
              >
                {{ getDate(date) }}
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row-view" *ngIf="!selectedPost.onEditPostMode">
        <div class="voting">
          <div [ngClass]="{ 'vote vote-up': true, 'btn-disable': !isAuth }" (click)="voteUp(selectedPost, false)"></div>
          <div class="votes">{{ getVotes(selectedPost) }}</div>
          <div
            [ngClass]="{ 'vote vote-down': true, 'btn-disable': !isAuth }"
            (click)="voteDown(selectedPost, false)"
          ></div>
        </div>
        <div class="post-container">
          <div class="content">
            <h4 class="title">{{ selectedPost.currentTitle }}</h4>
            <div class="post-content" [innerHTML]="selectedPost.currentContent"></div>
          </div>
          <div class="data-right">
            <div class="spacer"></div>
            <div class="details">
              <span> By: {{ selectedPost.author }} </span>
              <span> At: {{ getDate(selectedPost.currentDate) }}</span>
              <button
                class="alguru-secondary-btn"
                *ngIf="isAdmin || selectedPost.author === loggedInUsername"
                (click)="onDeletePostClick(selectedPost); $event.stopPropagation()"
              >
                Delete Post
              </button>
              <button
                class="alguru-secondary-btn"
                *ngIf="isAdmin || selectedPost.author === loggedInUsername"
                (click)="onEditPostClick(selectedPost); $event.stopPropagation()"
              >
                Edit Post
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- edit selected post -->
      <div *ngIf="selectedPost.onEditPostMode">
        <div class="form-group green-border-focus">
          <label for="titleTextarea3">Title:</label>
          <textarea class="title-input" id="titleTextarea3" rows="1" [(ngModel)]="selectedPost.currentTitle"></textarea>
          <div class="message">Message:</div>
          <angular-editor
            id="editor3"
            [config]="getEditorConfig()"
            [(ngModel)]="selectedPost.currentContent"
          ></angular-editor>
        </div>
        <button class="forum-btn alguru-primary-btn" (click)="onSubmitPost()">
          Submit
        </button>
        <button class="forum-btn alguru-primary-btn" (click)="onEditPostClick(null)">
          Cancel
        </button>
      </div>
    </div>
    <!-- comments -->
    <div class="container" *ngFor="let comment of selectedPost.comments">
      <div class="respect-padding">
        <div class="edits">
          <div class="edits-btn-container">
            <button
              class="edits-btn"
              *ngIf="comment.titles.length > 1"
              (click)="onShowEdits(comment); $event.stopPropagation()"
            >
              edits
            </button>
          </div>
          <div class="pop-up" *ngIf="comment.showEdits">
            <div *ngFor="let date of comment.dates">
              <button
                [ngClass]="date === comment.currentDate ? 'edit-date current-date' : 'edit-date'"
                (click)="onEditDateClicked($event, comment, date); $event.stopPropagation()"
              >
                {{ getDate(date) }}
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row-view" *ngIf="!comment.onEditPostMode">
        <div class="voting">
          <div [ngClass]="{ 'vote vote-up': true, 'btn-disable': !isAuth }" (click)="voteUp(comment, true)"></div>
          <div class="votes">{{ getVotes(comment) }}</div>
          <div [ngClass]="{ 'vote vote-down': true, 'btn-disable': !isAuth }" (click)="voteDown(comment, true)"></div>
        </div>
        <div class="post-comment">
          <div class="content">
            <div class="post-content" [innerHTML]="comment.currentContent"></div>
          </div>
          <div class="data-right">
            <div class="spacer"></div>
            <div class="details">
              <span> By: {{ comment.author }} </span>
              <span>At: {{ getDate(comment.currentDate) }}</span>
              <button
                class="alguru-secondary-btn"
                *ngIf="isAdmin || comment.author === loggedInUsername"
                (click)="onDeleteCommentClick(comment)"
              >
                Delete Comment
              </button>
              <button
                class="alguru-secondary-btn"
                *ngIf="isAdmin || comment.author === loggedInUsername"
                (click)="onEditCommentClick(comment)"
              >
                Edit Comment
              </button>
            </div>
          </div>
        </div>
      </div>
      <!--On Edit comment mode-->
      <div *ngIf="comment.onEditPostMode">
        <div class="form-group green-border-focus">
          <label for="titleTextarea4">Title:</label>
          <textarea class="title-input" id="titleTextarea4" rows="1" [(ngModel)]="comment.currentTitle"></textarea>
          <div>Message:</div>
          <angular-editor
            id="editor4"
            [config]="getEditorConfig()"
            [(ngModel)]="comment.currentContent"
          ></angular-editor>
        </div>
        <button class="forum-btn alguru-primary-btn" (click)="onSubmitComment()">
          Submit
        </button>
        <button class="forum-btn alguru-primary-btn" (click)="onEditCommentClick(null)">
          Cancel
        </button>
      </div>
    </div>
    <!--New Comment-->
    <div class="app-error-container">
      <app-error></app-error>
    </div>
    <div [ngClass]="{ container: true, 'auth-message-color': !isAuth }">
      <div *ngIf="!isAuth" class="auth-message-color">
        Please login to add new comment.
      </div>
      <div *ngIf="isAuth" id="new-comment-editor">
        <h4>New Comment</h4>
        <div class="form-group green-border-focus">
          <angular-editor id="editor2" [config]="getEditorConfig()" [(ngModel)]="messageDefaultValue"></angular-editor>
        </div>
        <button class="forum-btn alguru-primary-btn" (click)="onSubmitComment(messageDefaultValue)">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
