<div id="ide">
  <div id="first-col">
    <div class="container editable-editor" id="solution-container">
      <div class="head top">
        <span class="title">Your Solution:</span>
        <span class="spacer"></span>
        <button *ngIf="!loading" (click)="onRunCode()" class="run-code btn">Run Code</button>
        <div *ngIf="loading" class="loading-btn"><div class="loader"></div></div>
      </div>
      <nt-editor
        fontSize="1.6rem"
        class="editable-editor"
        codeType="java"
        [value]="solValue"
        (valueChanged)="onSolutionChanged($event)"
        showLineNumber
        editable
      ></nt-editor>
    </div>
    <div class="container static-size" id="output-container">
      <div class="head">
        <span class="title">Output:</span>
        <span class="spacer"></span>
        <button (click)="onCustomClick()" class="btn">Custom</button>
        <button (click)="onRawOutputClick()" class="btn">Raw Output</button>
      </div>
      <nt-editor class="editable-editor" fontSize="1.6rem" initialValue="Custom>" [value]="currentOutput"></nt-editor>
    </div>
  </div>
  <div id="second-col">
    <div class="container">
      <div class="head top">
        <span class="title">Question:</span>
        <span class="spacer"></span>
      </div>
      <nt-editor class="editable-editor" fontSize="1.6rem" [value]="questionToSolve?.content"></nt-editor>
    </div>
    <div class="container editable-editor" id="tests-container">
      <div class="head">
        <span class="title">Tests:</span>
        <span class="spacer"></span>
      </div>
      <nt-editor
        fontSize="1.6rem"
        codeType="java"
        class="editable-editor"
        [value]="testsValue"
        (valueChanged)="onTestsChanged($event)"
        editable
        showLineNumber
      ></nt-editor>
    </div>
    <div class="container">
      <div class="head">
        <span class="title">Hints:</span>
        <span class="spacer"></span>
      </div>
      <nt-editor class="editable-editor" fontSize="1.6rem" [value]="questionToSolve?.hints"></nt-editor>
    </div>
  </div>
</div>
