* {
  padding: 0;
  margin: 0;
  max-width: 100%;
  box-sizing: border-box;
}

#vote-message-pop-up {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100%;
  z-index: 999;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

angular-editor {
  color: white;
}

#vote-message-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100rem;
  background-color: rgba(53, 58, 66, 0.9);
  height: fit-content;
  margin: auto;
  padding: 2rem;
  border-radius: 0.8rem;
}

#vote-message-container button {
  font-size: 1.8rem;
  padding: 0.5rem 2rem 0.5rem 2rem;
  width: fit-content;
}

#vote-message-container button:not(:last-child) {
  margin-right: 1rem;
}

#pop-up-message {
  font-size: 1.6rem;
  color: white;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

#pop-up-message span {
  margin-bottom: 0.5rem;
}

#buttons {
  margin: 2rem auto 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

:host {
  overflow: hidden;
  display: flex;
  flex: 1;
}

.hint {
  filter: blur(0.3rem);
}

.show-hint {
  animation: 0.5s ease blur forwards;
}

@keyframes blur {
  to {
    filter: none;
  }
}

.positive {
  color: rgb(125, 190, 109) !important;
}

.negative {
  color: rgb(190, 109, 109) !important;
}

#stopwatch {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 0;
}

#stopwatch svg {
  min-width: 3.2rem;
  min-height: 3.2rem;
}

#stopwatch #time {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 1rem;
  padding-left: 0.5rem;
}

#ide {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: rgb(53, 58, 66);
}

#columns {
  display: flex;
  flex-direction: row;
  flex: 1;
}

#tool-bar {
  display: flex;
  flex-direction: row;
  color: white;
  background-color: rgb(48, 53, 66);
  border-radius: 1rem;
  margin: 0 0.5rem 1rem 0.5rem;
}

#tool-bar * {
  font-size: 1.6rem !important;
}

@media only screen and (max-width: 800px) {
  #columns {
    flex-direction: column;
  }

  nt-editor {
    max-width: calc(100vw - 1rem) !important;
  }
}

nt-editor {
  position: relative;
  max-width: calc((100vw - 2rem) / 2);
  background-color: var(--editor-background);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.editable-editor {
  flex: 1 !important;
}

#first-col {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 50vw;
  padding: 0.5rem;
  padding-top: 0;
}

#second-col {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0.5rem;
  padding-top: 0;
}

div.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding: 0;
  min-width: fit-content;
  max-width: 100%;
  flex: 0;
}

.title {
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.head {
  color: white;
  background-color: rgb(48, 53, 66);
  align-items: center;
  justify-content: center;
  display: flex;
  min-width: fit-content;
}

.head * {
  font-size: 1.8rem;
}

.top {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  height: fit-content;
  min-width: fit-content;
}

.spacer {
  flex: 1 1 auto;
}

.run-code:focus {
  box-shadow: none !important;
}

.btn {
  z-index: 10;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.158);
  cursor: pointer;
  border: none;
  color: white;
  height: 100%;
  margin-left: 0.5rem;
  width: 13rem;
}

.disabled {
  pointer-events: none;
}

.top .run-code,
.top .run-code-loading-btn {
  border-top-right-radius: 1rem;
}

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #f0564b;
  border-left: 5px solid #f0564b;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 0.5s linear infinite; /* Safari */
  animation: spin 0.5s linear infinite;
  margin: auto;
}

.btn:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.342);
}

.run-code-loading-btn,
.submit-loading-btn {
  display: flex;
  background-color: rgba(0, 0, 0, 0.158);
  min-width: fit-content;
  height: 100%;
  max-height: 100%;
  margin-left: 0.5rem;
  width: 13rem;
}

#output-container {
  height: 200px;
}

#solution-container {
  height: 50vh;
}

#tests-container {
  height: 30vh;
}

.detail {
  margin-right: 0.5rem;
}

.voting {
  margin-right: 1rem;
}

.votes {
  text-align: center;
  min-width: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: var(--primary-btn-color);
  margin: auto;
  font-size: 1.5rem !important;
}

.vote {
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  border: solid var(--primary-btn-color);
  border-width: 0 0.4rem 0.4rem 0;
  cursor: pointer;
  margin: auto;
}

.vote-up {
  margin-bottom: -0.6rem;
  transform: rotate(225deg);
}

.vote-up:hover {
  animation: up-border-color 0.1s forwards;
}

@keyframes up-border-color {
  from {
    border-color: var(--primary-btn-color);
  }
  to {
    border-color: rgb(50, 214, 50);
  }
}

.vote-down {
  margin-top: -0.6rem;
  transform: rotate(45deg);
}

.vote-down:hover {
  animation: down-border-color 0.2s forwards;
}

@keyframes down-border-color {
  from {
    border-color: var(--primary-btn-color);
  }
  to {
    border-color: rgb(230, 83, 78);
  }
}

/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: rgb(62, 67, 82);
  background-image: none;
  transition: all 0.2s ease;
}

select:hover {
  filter: brightness(0.9);
}

/* Remove IE arrow */
select::-ms-expand {
  display: none;
}

/* Custom Select */
.select {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  position: relative;
  display: flex;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  min-width: 9.5rem;
  margin-right: 1rem;
}

select {
  flex: 1;
  padding: 0 1rem;
  color: #fff;
  cursor: pointer;
}

/* Transition */
.select:hover::after {
  color: rgb(230, 83, 78);
}
