<div id="ide">
  <div id="first-col">
      <div class="container editable-editor" id="solution-container">
        <div class="head top">
          <span class="title">Your Solution:</span>
          <span class="spacer"></span>
          <button *ngIf="!loading" (click)="onRunCode()" class="run-code btn">Run Code</button>
          <div *ngIf="loading" class="loading-btn"><div class="loader"></div></div>
        </div>
      <app-editor 
      class="editable-editor"
      highlightsFor="java" 
      lineNumbering="true"
      [value]="solValue" 
      [theme]="theme" 
      (valueChanged)="onSolutionChanged($event)"></app-editor>
      </div>
      <div class="container static-size" id="output-container">
        <div class="head">
          <span class="title">Output:</span>
          <span class="spacer"></span>
          <button (click)="onCustomClick()" class="btn">Custom</button>
          <button  (click)="onRawOutputClick()" class="btn">Raw Output</button>
        </div>
        <app-editor 
        highlights="false"
        deletePrevValueOnChange="true"
        initialValue="Custom>"
        editable="false"
        [value]="currentOutput" 
        [theme]="theme"></app-editor>
      </div>
  </div>
  <div id="second-col">
    <div class="container">
      <div class="head top">
        <span class="title">Question:</span>
        <span class="spacer"></span>
      </div>
      <app-editor 
      highlights="false" 
      deletePrevValueOnChange="true"
      editable="false"
      [value]="questionToSolve?.content" 
      [theme]="theme"></app-editor>
    </div>
    <div class="container editable-editor" id="tests-container">
      <div class="head">
        <span class="title">Tests:</span>
        <span class="spacer"></span>
      </div>
      <app-editor 
      class="editable-editor"
      highlightsFor="java"
      lineNumbering="true" 
      [value]="testsValue" 
      [theme]="theme" 
      (valueChanged)="onTestsChanged($event)"></app-editor>
    </div>
    <div class="container">
      <div class="head">
        <span class="title">Hints:</span>
        <span class="spacer"></span>
      </div>
      <app-editor 
      highlights="false" 
      deletePrevValueOnChange="true"
      editable="false"
      [value]="questionToSolve?.hints" 
      [theme]="theme"></app-editor>
    </div>
  </div>
</div>
