<div (click)="hide()" class="background-unclickable">
  <div class="login-form" (click)="$event.stopPropagation()">
    <app-error></app-error>
    <form (submit)="onLogin(userLoginForm)" #userLoginForm="ngForm">
      <div *ngIf="isLoading" class="loader">Loading...</div>
      <div *ngIf="!isLoading">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input type="text" class="form-control" name="username" placeholder="Username" ngModel />
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <input type="password" class="form-control" name="password" placeholder="Password" ngModel />
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary login-btn btn-block">Sign in</button>
        </div>
        <div class="login-options">
          <div class="option clickable">Forgot Password?</div>
        </div>
        <div class="or-seperator"><i>or</i></div>
        <div class="text-center">Login with your social media account</div>
        <div class="text-center social-btn">
          <a href="#" class="btn btn-primary">Facebook</a>
          <a href="#" class="btn btn-info">Twitter</a>
          <a href="#" class="btn btn-danger">Google</a>
        </div>
        <p class="text-center text-muted small">
          Don't have an account? <button class="sign-up" (click)="openRegister()">Sign up here!</button>
        </p>
        <p class="text-center"><button (click)="hide()" class="btn close-button">Close</button></p>
      </div>
    </form>
  </div>
</div>
