.editor {
    height: 100%;
    width: 100%;
    background-color: rgb(80, 80, 94);
    border: none;
    color: rgba(255, 255, 255, 0.959);
    counter-reset: line;
    padding: 0 0.8rem;
}

.editor:focus {
    outline: none;
    white-space: pre-wrap;
}

.numbers-container {
    background-color: rgb(80, 80, 94);
    color: rgba(255, 255, 255, 0.959);
}

.editor-container {
    background-color: rgb(80, 80, 94);
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0;
    flex: auto;
    width: 100%;
    height: 100%;
}

.line-number {
    border-right: 1px solid rgba(0,0,0,0.3);
    padding: 0 0.8rem;
}

.uneditable {
    -webkit-user-select: none;
    cursor: context-menu;
}
